In [4]:
import pandas as pd

In [5]:
dataSubway = {
    
    'Sandwiches': ['Black Forest Ham', 'Chicken & Bacon Ranch Melt', 'Cold Cut Combo',
                  'Italian B.M.T.', 'Meatball Marinara', 'Oven Roasted Chicken', 'Steak & Cheese',
                  'Sweet Onion Chicken Teriyaki', 'Tuna', 'Turkey Breast', 'Veggie Delite'],
    'Serving Amount 6inch': [219, 285, 213, 213, 205, 233, 211, 265, 223, 219, 162],
    'Serving Amount 12inch': [438, 570, 426, 426, 410, 466, 322, 530, 446, 438, 324]
}

In [6]:
df = pd.DataFrame(data = dataSubway)

df

                      Sandwiches  Serving Amount 6inch  Serving Amount 12inch
0               Black Forest Ham                   219                    438
1     Chicken & Bacon Ranch Melt                   285                    570
2                 Cold Cut Combo                   213                    426
3                 Italian B.M.T.                   213                    426
4              Meatball Marinara                   205                    410
5           Oven Roasted Chicken                   233                    466
6                 Steak & Cheese                   211                    322
7   Sweet Onion Chicken Teriyaki                   265                    530
8                           Tuna                   223                    446
9                  Turkey Breast                   219                    438
10                 Veggie Delite                   162                    324